body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
.top,.footer{
    background-color: #1F2937;
    color:#E5E7Eb;
    display:flex;
    padding: 16px;
}
.small text{
    font-size: 18px;
}
.top{
    justify-content: space-around;
    color:#F9FAF8;
    padding-bottom: 64px;
}
#header{
    font-size: 24px;
}
#extra{
    font-size: 48px;
}
.left,.right{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap:32px;
}

ul{
    display:flex;
    list-style-type: none;
    gap:16px;
    margin:0;
    padding:0;
    justify-content: center;
}
.right ul{
    justify-content: flex-end;
}
.info ul{
    gap:32px;
}
.info li{
    max-width: 150px;
}
.in-header{
    font-size: 36px;
    
}
.info div{
    text-align: center;
    padding:16px;
}

.qoute{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding:32px

}
.qoute div{
    max-width: 700px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#name{
    align-self: flex-end;
}
#qoute{
    font-style: italic;
    font-weight: 100;
}

button{
    background-color: #3882F6;
    border-radius: 4px;
    padding-inline: 16px;
    padding-block: 8px;
    color:white;
}
.sign-up{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 32px;
}
.call{
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    padding-inline: 64px;
    padding-block: 32px;
    border-radius: 6px;
}
.call-to-action{
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    color:#E5E7EB;
}
.call-to-action p{
    margin-right: 64px;
    margin-block:0;    
}
.footer{
    display: flex;
    justify-content: center;
}